{
  "extends": ["eslint:recommended", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "plugins": ["react", "import", "prettier", "flowtype"],
  "settings": {
    "import/ignore": ["node_modules"]
  },
  "rules": {
    "no-cond-assign": ["error", "always"],
    "no-console": ["off"],
    "no-constant-condition": ["error"],
    "no-control-regex": ["error"],
    "no-debugger": ["error"],
    "no-dupe-args": ["error"],
    "no-dupe-keys": ["error"],
    "no-duplicate-case": ["error"],
    "no-empty-character-class": ["error"],
    "no-empty": ["error"],
    "no-ex-assign": ["error"],
    "no-extra-boolean-cast": ["error"],
    "no-extra-parens": ["off"],
    "no-func-assign": ["off"],
    "no-inner-declarations": ["error", "functions"],
    "no-invalid-regexp": ["error"],
    "no-irregular-whitespace": ["error"],
    "no-negated-in-lhs": ["error"],
    "no-obj-calls": ["error"],
    "no-regex-spaces": ["error"],
    "no-sparse-arrays": ["error"],
    "no-unexpected-multiline": ["error"],
    "no-unreachable": ["error"],
    "use-isnan": ["error"],
    "valid-jsdoc": ["off"],
    "valid-typeof": ["error"],

    "accessor-pairs": ["error"],
    "array-callback-return": ["error"],
    "block-scoped-var": ["off"],
    "complexity": ["error", 10],

    "consistent-return": ["error"],
    "default-case": ["off"],
    "eqeqeq": ["error"],
    "guard-for-in": ["error"],
    "no-alert": ["error"],
    "no-caller": ["error"],
    "no-case-declarations": ["error"],
    "no-div-regex": ["error"],
    "no-else-return": ["off"],
    "no-empty-label": ["off"],
    "no-empty-pattern": ["error"],
    "no-eq-null": ["error"],
    "no-eval": ["error"],
    "no-extend-native": ["error"],
    "no-extra-bind": ["error"],
    "no-fallthrough": ["error"],
    "no-implicit-coercion": ["error"],
    "no-implied-eval": ["error"],
    "no-invalid-this": ["error"],
    "no-iterator": ["error"],
    "no-labels": ["error"],
    "no-lone-blocks": ["error"],
    "no-loop-func": ["error"],
    "no-native-reassign": ["error"],
    "no-new-func": ["error"],
    "no-new-wrappers": ["error"],
    "no-new": ["error"],
    "no-octal-escape": ["error"],
    "no-octal": ["error"],
    "no-param-reassign": ["error", { "props": true }],
    "no-proto": ["error"],
    "no-redeclare": ["error"],
    "no-return-assign": ["error", "always"],
    "no-script-url": ["error"],
    "no-self-compare": ["error"],
    "no-sequences": ["error"],
    "no-throw-literal": ["error"],
    "no-unused-expressions": ["error"],
    "no-useless-call": ["error"],
    "no-useless-concat": ["error"],
    "no-void": ["error"],
    "no-warning-comments": ["warn"],
    "no-with": ["error"],
    "no-restricted-globals": ["error", "error", "event", "Map", "parent"],
    "no-global-assign": ["error", { "exceptions": [] }],
    "radix": ["error"],
    "vars-on-top": ["off"],
    "yoda": ["error", "never"],

    "init-declarations": ["off"],
    "no-catch-shadow": ["error"],
    "no-delete-var": ["error"],
    "no-label-var": ["off"],
    "no-shadow-restricted-names": ["error"],
    "no-shadow": ["error"],
    "no-undef-init": ["error"],
    "no-undef": 0,
    "no-undefined": ["off"],
    "no-unused-vars": ["warn"],
    "no-use-before-define": ["warn"],

    "no-new-require": ["error"],
    "no-path-concat": ["error"],

    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "useTabs": true,
        "trailingComma": "es5"
      }
    ],

    "react/jsx-no-undef": ["off"],
    "react/jsx-uses-react": ["error"],
    "react/jsx-uses-vars": ["error"],

    "react/display-name": ["off"],
    "react/forbid-prop-types": ["off"],
    "react/jsx-boolean-value": ["off"],
    "react/jsx-handler-names": ["off"],
    "react/jsx-key": ["error"],
    "react/jsx-max-props-per-line": ["off"],
    "react/jsx-no-bind": ["off"],
    "react/jsx-no-duplicate-props": ["error"],
    "react/jsx-no-literals": ["warn"],
    "react/jsx-pascal-case": ["error"],
    "react/jsx-sort-prop-types": ["off"],
    "react/jsx-sort-props": ["off"],
    "react/no-deprecated": ["error"],
    "react/no-did-mount-set-state": ["error"],
    "react/no-did-update-set-state": ["error"],
    "react/no-direct-mutation-state": ["error"],
    "react/no-is-mounted": ["error"],
    "react/no-multi-comp": ["off"],
    "react/no-set-state": ["off"],
    "react/no-string-refs": ["error"],
    "react/no-unknown-property": ["error"],
    "react/prefer-es6-class": ["error", "always"],
    "react/prop-types": ["off"],
    "react/react-in-jsx-scope": ["error"],
    "react/sort-comp": ["off"],
    "import/export": ["error"],
    "import/first": ["error"],
    "import/newline-after-import": ["error"],
    "import/named": ["error"],
    "import/default": ["error"]
  }
}
